## The following requirements were added by pip freeze:
anyjson
bs4
celery~=4.4.2
Django~=3.0.5
django-celery-beat~=2.0.0
django-celery-results~=1.2.1
django-crispy-forms
git+https://github.com/sehmaschine/django-filebrowser@stable/3.13.x #django-filebrowser
django-icons
flower~=0.9.4
image
requests
urllib3
uwsgi
