<!doctype html>
{% load crispy_forms_tags %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <title>Search&Download Every Series</title>
</head>
<body>
  <div class="container">
    {% crispy form %}
    <table class="table table-striped">
      {% for e in episodes %}
        <tr>
          <td>{% if e.decoded %}<span style="text-decoration-line: line-through;">{% endif %}<a target="_blank" href="{{ e.url }}">{{ e.title }}</a>{% if e.decoded %}</span>{% endif %}</td>
          {% if 'otr' in e %}
          <td>
            {% with e.otr as titles %}
            <table class="table table-striped">
              {% include "searcher/modules/items.html" with items=titles num=forloop.counter %}
            </table>
            {% endwith %}
          </td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
  </div>
</body>
</html>
