<!doctype html>
{% load crispy_forms_tags %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <title>Search&Download All da Movies!</title>
</head>
<body>
  <div class="container">
      <div class="row justify-content-center"><div class="col-10">
        <br />
        <h1>Search&Download Movies</h1>
        <form action="{% url 'searcher:index' %}" method="post">
            {% csrf_token %}
            {{ form.query|as_crispy_field }}
            <div class="row">
              <div class="col-4">
                {{ form.min_duration|as_crispy_field }}
              </div>
              <div class="col-4">
                {{ form.max_page|as_crispy_field }}
              </div>
              <div class="col-4">
                {{ form.start_page|as_crispy_field }}
              </div>
            </div>
            <button type="submit" class="btn btn-success">Search</button>
        </form>
      </div></div>
    <table class="table table-striped">
    {% for t in titles %}
      <tr>
        <td><a target="_blank" href="https://otrkeyfinder.com/en/?search={{ t.title }} {{search}}&order=date-name"><span style="{% if t.isDecoded %}text-decoration-line: line-through;{% elif t.isSimilarDecoded %}color: #777777;{% endif %}">{{ t.title }}</span></a></td>
        <td>{{ t.length }}</td>
        <td>{{ t.item_count }}</td>
        <td><a target="_blank" href="https://www.imdb.com/find?q={{ t.title }}&s=all">IMDB</a></td>
        <td><a target="_blank" href="https://www.youtube.com/results?search_query={{ t.title }} Trailer">Youtube Trailer</a></td>
        <td>
          <table class="table table-striped">
            {% include "searcher/modules/items.html" with items=t.items num=forloop.counter %}
          </table>
        </td>
      </tr>
    {% endfor %}
    </table>
  </div>
</body>
</html>
