{% extends 'searcher/base.html' %}

{% load crispy_forms_tags %}

{% block header %}
  {% include 'searcher/modules/header.html' with title="Movies" %}
{% endblock %}

{% block navbar %}
  {% include 'searcher/modules/navbar.html' with page="movies" %}
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
      <h1>Movies</h1>
        <form action="{% url 'searcher:movies' %}" method="post">
            {% csrf_token %}
            {{ form.query|as_crispy_field }}
            <div class="row">
              <div class="col-4">
                {{ form.min_duration|as_crispy_field }}
              </div>
              <div class="col-4">
                {{ form.max_page|as_crispy_field }}
              </div>
              <div class="col-4">
                {{ form.start_page|as_crispy_field }}
              </div>
            </div>
            <button type="submit" class="btn btn-success">Search</button>
            <button type="button" id="clearCacheBtn" class="btn btn-warning" onclick="javascript:clearCache();">Clear cache</button>
        </form>
      </div>
    </div>
    {% if new_titles %}
    <br />
    <div class="row">
      <div class="col-md-12">
        <h2>Results</h2>
        {% include "searcher/modules/movie_titles.html" with titles=new_titles prefix="undecoded_" %}
      </div>
    </div>
    {% endif %}
    {% if old_titles %}
    <br />
    <div class="row">
      <div class="col-md-12">
        <h2>Decoded Results</h2>
        {% include "searcher/modules/movie_titles.html" with titles=old_titles prefix="decoded_"%}
      </div>
    </div>
    {% endif %}
  </div>
    
<script type="text/javascript">
function clearCache() {
  $.getJSON('{% url 'searcher:clear-cache' %}', function(data) {
    if (data.success == true) {
      $('#clearCacheBtn').attr({'class': 'btn btn-info'}).html("Cleared").prop('disabled', true);
    }
  });
}
</script>
{% endblock %}
