{% extends 'searcher/base.html' %}

{% load crispy_forms_tags %}

{% block header %}
  {% include 'searcher/modules/header.html' with title="Movies" %}
{% endblock %}

{% block navbar %}
  {% include 'searcher/modules/navbar.html' with page="movies" %}
{% endblock %}
{% block content %}
  <div class="container">
    <h1>Movies</h1>
    <form action="{% url 'searcher:movies' %}" method="post">
        {% csrf_token %}
        {{ form.query|as_crispy_field }}
        <div class="row">
          <div class="col-4">
            {{ form.min_duration|as_crispy_field }}
          </div>
          <div class="col-4">
            {{ form.max_page|as_crispy_field }}
          </div>
          <div class="col-4">
            {{ form.start_page|as_crispy_field }}
          </div>
        </div>
        <button type="submit" class="btn btn-success">Search</button>
    </form>
    <table class="table table-striped">
    {% for t in titles %}
      <tr>
        <td><a target="_blank" href="https://otrkeyfinder.com/en/?search={{ t.title }} {{search}}&order=date-name"><span style="{% if t.isDecoded %}text-decoration-line: line-through;{% elif t.isSimilarDecoded %}color: #777777;{% endif %}">{{ t.title }}</span></a></td>
        <td>{{ t.length }}</td>
        <td>{{ t.item_count }}</td>
        <td><a target="_blank" href="https://www.imdb.com/find?q={{ t.title }}&s=all">IMDB</a></td>
        <td><a target="_blank" href="https://www.youtube.com/results?search_query={{ t.title }} Trailer">Youtube Trailer</a></td>
        <td>
          <table class="table table-striped">
            {% include "searcher/modules/items.html" with items=t.items num=forloop.counter %}
          </table>
        </td>
      </tr>
    {% endfor %}
    </table>
  </div>
</body>
</html>
{% endblock %}
