{% extends 'searcher/base.html' %}

{% load crispy_forms_tags %}
{% load admin_urls %}
{% load icons %}

{% block header %}
  {% include 'searcher/modules/header.html' with title="Series" %}
    <style>
    .btn-season {
        margin: 2px 0;
    }
    </style>
{% endblock %}

{% block navbar %}
  {% include 'searcher/modules/navbar.html' with page="series" %}
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Series</h1>
      </div>
      <div class="col-lg-6">
        <h3>Select a series</h3>
        <table class="table">
          <tbody>
          {% for s, meta in serieslist %}
          <tr>
            <td><a target="_blank" href="{{ s.get_url }}">{{s.series}}</a></td>
              <td>
                  <a
                      class="btn btn-secondary btn-sm btn-season" type="button"
                      href="{% url 'searcher:series' series=s.pk season=0 %}"
                      data-toggle="tooltip" data-placement="top" title="All Seasons"
                  >All</a>
                  {% for i in s.get_season_range %}
                      <a
                          class="btn btn-secondary btn-sm btn-season " type="button"
                          href="{% url 'searcher:series' series=s.pk season=i %}"
                          data-toggle="tooltip" data-placement="top" title="Season {{ i }}"
                      >{{ i }}</a>
                  {% endfor %}
              </td>
{#            <td><select name="">#}
{#              <option value="0">Select Episode</option>#}
{#              <option value="-1" onclick="location.href='{% url 'searcher:series' series=s.pk season=0 %}';">All</option>#}
{#              {% for i in s.get_season_range %}#}
{#              <option value="{{ e }}" onclick="location.href='{% url 'searcher:series' series=s.pk season=i %}';">{{ i }}</option>#}
{#              {% endfor %}#}
{#            </select></td>#}
            <td><a
              class="btn btn-success btn-sm" type="button"
              href="{% url meta|admin_urlname:'change' s.pk %}"
              data-toggle="tooltip" data-placement="top" title="Edit"
              >{% icon 'edit' %}</td>
          </tr>
          {% empty %}
          <tr>
            <td>No series available.</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
        </div>
      <div class="col-lg-6">
        <h3>Add a new series</h3>
        {% crispy form %}
      </div>
      <div class="col-lg-12">
        <table class="table table-striped">
          {% for e in episodes %}
            <tr>
              <td>{% if e.decoded %}<span style="text-decoration-line: line-through;">{% endif %}<a target="_blank" href="{{ e.url }}">{{ e.season }}x{{ e.episode }} {{ e.title }}</a>{% if e.decoded %}</span>{% endif %}</td>
              {% with e.otr as titles %}
              <td>
                <table class="table table-striped text-light">
                {% if titles %}
                    {% include "searcher/modules/items.html" with items=titles num=forloop.counter destName=e.destName %}
                {% else %}
                  <tr><td>No files found for this episode. <a target="_blank" href="https://otrkeyfinder.com/en/?search={{ e.search }}&order=date-name">Search</a> and <a target="_blank" href="{% url 'downloader:add' %}?dest={{ e.destName }}">add</a> manually.</td></tr>
                {% endif %}
                </table>
              </td>
              {% endwith %}
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
{% endblock %}
