{% extends 'searcher/base.html' %}

{% load crispy_forms_tags %}

{% block header %}
  {% include 'searcher/modules/header.html' with title="Series" %}
{% endblock %}

{% block navbar %}
  {% include 'searcher/modules/navbar.html' with page="series" %}
{% endblock %}
{% block content %}
  <div class="container">
    <h1>Series</h1>
    {% crispy form %}
    <table class="table table-striped">
      {% for e in episodes %}
        <tr>
          <td>{% if e.decoded %}<span style="text-decoration-line: line-through;">{% endif %}<a target="_blank" href="{{ e.url }}">{{ e.title }}</a>{% if e.decoded %}</span>{% endif %}</td>
          {% if 'otr' in e %}
          <td>
            {% with e.otr as titles %}
            <table class="table table-striped">
              {% include "searcher/modules/items.html" with items=titles num=forloop.counter %}
            </table>
            {% endwith %}
          </td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
