{% load static %}
<script src="{% static 'searcher/js/popper.min.js' %}" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="{% static 'searcher/js/bootstrap.min.js' %}" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script type="text/javascript">
  function loadCutlists(file_url, destName, video_url, mirror_name, table_id) {
    $(table_id).html("<tr><td>Loading..</td></tr>");
    $.getJSON(file_url, function(data) {
      //console.log(data.items)
      found_cutlists = false;
      let hasComment = false;
      $.each(data.items, function (key, item) {
          if (item.comment) {
              hasComment = true;
          }
      });
      let item = '';
      if (hasComment) {
          item = '<thead>' +
          '<th style="width: 37.5%">Rating/<br />Downloads<br />Sug. Name</th>' +
          '<th style="width: 37.5%">Comment</th>' +
          '<th style="width: 25%">Actions</th></thead>';
      } else {
          item = '<thead>' +
          '<th style="width: 70%">Rating/<br />Downloads<br />Sug. Name</th>' +
          '<th style="width: 30%">Actions</th></thead>';
      }
      let itemdiv = $($.parseHTML(item));
      $.each(data.items, function (key, item) {
        cutlist_url = 'http://www.cutlist.at/getfile.php?id=' + item.id;
        let row = $('<tr></tr>');
        itemdiv.append(row);
        let td = $('<td></td>');
        row.append(td);
        //row = '<tr>';
        //row += '<td>';
        td.append($('<div><span class="text-info">' + item.rating.ratings + "x " + item.rating.avg + '</span></div>'));;
        td.append($('<div>' + item.hits + '</div>'));;
        td.append($('<br />'));;
        td.append($('<div style="word-wrap: break-word">' + item.suggestedName + '</div>'));;
        //row += '</td>';
        if (hasComment) {
            row.append($('<td style="word-wrap: break-word">' + item.comment + '</td>'));;
        }
        //row += '<td>';
        td = $('<td></td>');
        row.append(td);
        let linksdiv = $('<div style="margin-bottom: 5px;"></div>');
        td.append(linksdiv);
        let a = $('<a target="_blank" class="btn btn-success"></a>');
        linksdiv.append(a);
        let params = {
            "video": video_url,
            "cutlist": cutlist_url,
            "dest": destName
        };
        a.attr({
            'onclick': 'startDownload(this, ' + JSON.stringify(params) + ');',
            'title': 'Uses ' + mirror_name
        });
        a.text('Add');
            //row += '<div style="margin-bottom: 5px;"><a target="_blank" class="btn btn-success" onclick="startDownload(this,`
              //+ "{\n"
              //+ "video: " + video + ","
              //+ "cutlist": cutlist,
              //  "dest": dest,
              //}+ decodeURI(video_url) + ","
              //+ cutlist_url + "','"
              //+ destName
              //+ '\');" title="Uses ' + mirror_name + '">Add</a></div>';
        linksdiv = $('<div style="margin-bottom: 5px;"></div>');
        td.append(linksdiv);
        a = $('<a target="_blank" class="text-information"></a>');
        linksdiv.append(a);
        a.attr({
            'title': 'Uses ' + mirror_name,
            'href': '{% url 'downloader:add' %}?' + $.param(params)
        });
        a.text('Add Manually');
        td.append($('<div><a target="_blank" href="' + cutlist_url + '">Link</a></div>'));;
        //row += '</td>';
        //row += '</tr>';
        //items.push(row);
        found_cutlists = true;
      });
      //console.log(items);
      // for (var item in data) {
      //   if (data.hasOwnProperty(item)) {
      //
      //   }
      // }
      if (found_cutlists === true) {
          $(table_id).html(itemdiv);
      } else {
          let tr = $('<tr></tr>');
          let td = $('<td></td>');
          tr.append(td);
          let linksdiv = $('<div style="margin-bottom: 5px;">');
          td.append('No cutlist found. ');
          td.append(linksdiv);
          let a = $('<a></a>');
          linksdiv.append(a);
          let params = {
            "video": video_url,
            "dest": destName
        };
        a.attr({
            'target':  "_blank",
            'class':   "btn btn-info",
            'onclick': 'startDownload(this, ' + JSON.stringify(params) + ');',
            'title':   'Uses ' + mirror_name
        });
        a.text('Add without cutting');
        $(table_id).html(tr);
      }
    });
  }
  var btn = {};
function startDownload(button, params) {
  btn['btn'] = $(button);
  let url = '{% url 'downloader:add-direct' %}'; // + video + '/' + cutlist + '/' + dest + '/';
  $.post(url, params, function(data) {
    if (data.success == true) {
        $(button).attr({'class': 'btn btn-info'}).html("Added").prop('disabled', true);
    } else {
        $(button).attr({'class': 'btn btn-warning'}).html("Failed :( Try again?");
    }
  });
}
</script>