<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script type="text/javascript">
  function loadCutlists(file_url, destName, video_url, mirror_name, table_id) {
    $(table_id).html("<tr><td>Loading..</td></tr>");
    $.getJSON(file_url, function(data) {
      //console.log(data.items)
      found_cutlists = false;
      let hasComment = false;
      $.each(data.items, function (key, item) {
          if (item.comment) {
              hasComment = true;
          }
      });
      let items = []
      if (hasComment) {
          items = ['<thead>' +
          '<th style="width: 37.5%">Rating/<br />Downloads<br />Sug. Name</th>' +
          '<th style="width: 37.5%">Comment</th>' +
          '<th style="width: 25%">Actions</th></thead>']
      } else {
          items = ['<thead>' +
          '<th style="width: 70%">Rating/<br />Downloads<br />Sug. Name</th>' +
          '<th style="width: 30%">Actions</th></thead>']
      }
      $.each(data.items, function (key, item) {
        cutlist_url = 'http://www.cutlist.at/getfile.php?id=' + item.id;
        row = '<tr>';
        row += '<td>';
            row += '<div><span class="text-info">' + item.rating.ratings + "x " + item.rating.avg + '</span></div>';
            row += '<div>' + item.hits + '</div>';
            row += '<br />';
            row += '<div style="word-wrap: break-word">' + item.suggestedName + '</div>';
        row += '</td>';
        if (hasComment) {
            row += '<td style="word-wrap: break-word">' + item.comment + '</td>';
        }
        row += '<td>';
            row += '<div style="margin-bottom: 5px;"><a target="_blank" class="btn btn-success" onclick="startDownload(this,'
              + "'" + decodeURI(video_url) + "','"
              + cutlist_url + "','"
              + destName
              + '\');" title="Uses ' + mirror_name + '">Add</a></div>';
            row += '<div style="margin-bottom: 5px;"><a target="_blank" class="text-information" href="{% url 'downloader:add' %}'
              + '?video=' + video_url
              + '&cutlist='  + cutlist_url
              + '&dest='  + destName
              + '" title="Uses ' + mirror_name + '">Add Manually</a></div>';
            row += '<div><a target="_blank" href="' + cutlist_url + '">Link</a></div>';
        row += '</td>';
        row += '</tr>';
        items.push(row);
        found_cutlists = true;
      });
      //console.log(items);
      // for (var item in data) {
      //   if (data.hasOwnProperty(item)) {
      //
      //   }
      // }
      if (found_cutlists === true) {
          $(table_id).html(items.join(""));
      } else {
          $(table_id).html('<tr><td>No cutlist found. <a target="_blank" href="{% url 'downloader:add' %}?video=' + video_url + '&dest=' + destName + '">Download without cutting?</a></td></tr>');
      }
    });
  }
  var btn = {};
function startDownload(button, video, cutlist, dest) {
  btn['btn'] = $(button);
  let url = '{% url 'downloader:add-direct' %}'; // + video + '/' + cutlist + '/' + dest + '/';
  $.post(url, {
      'video': video,
      'cutlist': cutlist,
      'dest': dest
  }, function(data) {
    if (data.success == true) {
        $(button).attr({'class': 'btn btn-info'}).html("Added").prop('disabled', true);
    } else {
        $(button).attr({'class': 'btn btn-warning'}).html("Failed :( Try again?");
    }
  });
}
</script>