{% load item_tags %}
<script type="text/javascript">
  function loadCutlists(file_url, destName, video_url, mirror_name, table_id) {
    $(table_id).html("<tr><td>Loading..</td></tr>");
    $.getJSON(file_url, function(data) {
      items = ['<thead><th>Rating</th><th>Downloads</th></thead>']
      //console.log(data.items)
      found_cutlists = false;
      $.each(data.items, function (key, item) {
        cutlist_url = 'http://www.cutlist.at/getfile.php?id=' + item.id;
        row = '<tr>';
        row += '<td><span style="color: blue;">' + item.rating.n + "x " + item.rating.avg + '</span></td>';
        row += '<td>' + item.hits + '</td>';
        row += '<td><a target="_blank" href="' + cutlist_url + '">Link</a></td>';
        row += '<td><a target="_blank" href="{% url 'downloader:add' %}'
          + '?video=' + video_url
          + '&cutlist='  + cutlist_url
          + '&dest='  + destName
          + '" title="Uses ' + mirror_name + '">To Downloader</a></td>';
        row += '</tr>';
        items.push(row);
        found_cutlists = true;
      });
      //console.log(items);
      // for (var item in data) {
      //   if (data.hasOwnProperty(item)) {
      //
      //   }
      // }
      if (found_cutlists === true) {
          $(table_id).html(items.join(""));
      } else {
          $(table_id).html('<tr><td>No cutlist found. <a target="_blank" href="{% url 'downloader:add' %}?video=' + video_url + '">Download without cutting?</a></td></tr>');
      }
    });
  }
</script>
{% for item in items %}
<tr{% if not forloop.first %} class="collapse collapse-{{ num }}"{% endif %}>
  <td><a target="_blank" href="https://otrkeyfinder.com/en/?search={{ item.file }}&order=date-name"><span class="badge badge-{{ item.format|format2label }}">{{ item.format }}</span> {{ item.title }}</a></td>
  <td>{{ item.length }}</td>
  <td>{{ item.item_count }}</td>
</tr>
<tr{% if not forloop.first %} class="collapse collapse-{{ num }}"{% endif %}>
  <td>
    <table class="table">
      {% for m in item.mirrors %}
      <tr>
        <td><a target="_blank" href="{{ m.link }}">{{ m.name }}</a></td>
      </tr>
      {% empty %}
          No mirrors found! :(
      {% endfor %}
    </table>
  </td>
  <td>
    <table class="table" id="cutlist-table-{{ num }}-{{ forloop.counter }}">
      {% if item.isDecoded %}
        <tr><td>Already decoded. <a href="javascript:{% cutlist_call item forloop.counter num destName %}">Load cutlists anyway?</a></td></tr>
      {% endif %}
    </table>
    <script>
      {% if item.file_decrypted and forloop.first and not item.isDecoded %}
        {% cutlist_call item forloop.counter num destName %};
      {% elif not forloop.first %}
        $('.collapse-{{ num }}:first').on('show.bs.collapse', function() {
          $('#more-{{ num }}').remove();

          {% cutlist_call item forloop.counter num destName %};
        });
      {% endif %}
    </script>

  </td>
</tr>
{% if forloop.first and items|length > 1 %}
<tr id="more-{{ num }}">
  <td><a class="btn btn-primary" data-toggle="collapse" data-target=".collapse-{{ num }}" role="button" aria-expanded="false" aria-controls="collapse-{{ num }}"> ({{ items|length|add:"-1" }}) More..</a></td>
</tr>
{% endif %}
{% endfor %}
