{% load imdb_tags %}
{% for item in items %}
<tr{% if not forloop.first %} class="collapse collapse-{{ num }}"{% endif %}>
  <td><a target="_blank" href="https://otrkeyfinder.com/en/?search={{ item.file }}&order=date-name"><span class="badge badge-{{ item.format|format2label }}">{{ item.format }}</span> {{ item.title }}</a></td>
  <td>{{ item.length }}</td>
  <td>{{ item.item_count }}</td>
</tr>
<tr{% if not forloop.first %} class="collapse collapse-{{ num }}"{% endif %}>
  <td>
    <table class="table">
      {% for m in item.mirrors %}
      <tr>
        <td><a target="_blank" href="{{ m.link }}">{{ m.name }}</a></td>
      </tr>
      {% empty %}
          No mirrors found! :(
      {% endfor %}
    </table>
  </td>
  <td>
  {% if not item.decoded and item.file_decrypted %}
    <table class="table" id="cutlist-table-{{ num }}-{{ forloop.counter }}">

    </table>

    <script type="text/javascript">
      {% if not forloop.first %}
      $('.collapse-{{ num }}:first').on('show.bs.collapse', function() {
        $('#more-{{ num }}').remove();
        {% endif %}
      $.getJSON("{% url 'cutlist' item.file_decrypted %}", function(data) {
        items = ['<thead><th>Rating</th><th>Downloads</th></thead>']
        console.log(data.items)
        $.each(data.items, function (key, item) {
          cutlist_url = 'http://www.cutlist.at/getfile.php?id=' + item.id;
          row = '<tr>';
          row += '<td><span style="color: blue;">' + item.rating.n + "x " + item.rating.avg + '</span></td>';
          row += '<td>' + item.hits + '</td>';
          row += '<td><a target="_blank" href="' + cutlist_url + '">Link</a></td>';
          row += '<td><a target="_blank" href="{% url 'downloader:add' %}?Video={{ item.chosen_mirror.link|urlencode }}&Cutlist='  + cutlist_url + '" title="Uses {{ item.chosen_mirror.name }}">To Downloader</a></td>';
          row += '</tr>';
          items.push(row);
        });
        console.log(items);
        // for (var item in data) {
        //   if (data.hasOwnProperty(item)) {
        //
        //   }
        // }
        $('#cutlist-table-{{ num }}-{{ forloop.counter }}').html(items.join(""));
      });
      {% if not forloop.first %}
      });
      {% endif %}
    </script>
  {% endif %}
  </td>
</tr>
{% if forloop.first and items|length > 1 %}
<tr id="more-{{ num }}">
  <td><a class="btn btn-primary" data-toggle="collapse" data-target=".collapse-{{ num }}" role="button" aria-expanded="false" aria-controls="collapse-{{ num }}">More..</a></td>
</tr>
{% endif %}
{% endfor %}
