<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>OTR Downloader</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{% static 'downloader/css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'downloader/css/skeleton.css' %}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

  <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>

</head>
<body>

<?php

?>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 8%; width: 85%; max-width: 650px;">
        <h4>OTR Downloader</h4>
        <p>The OTR Downloader initiates the process of downloading the video files, decoding them (merging audio/video), downloading the cutlist, cutting the video in pieces and merging it into the final video.</p>
        {% if failed %}
          <p>Processing failed! :(</p>
        {% endif %}
        {% if started %}
          <p>
          $video = $_POST["Video"];
          $audio = $_POST["Audio"];
          $cutlist = $_POST["Cutlist"];
          $mega = isset($_POST["Mega"]) ? "yes" : "no"; ?>
          <b>Starting! :)</b><br>
          <?php $otrkey = process($video, $audio, $cutlist, $mega);
          $logbase="https://dl.sanemind.de/logs/$otrkey/"; ?>
          Progress: <br>
          <script>
          function loadLog() {
            $("#log").load("<?php echo $logbase; ?>/read-log.php");
            $("#log").scrollTop($("#log")[0].scrollHeight);
          }
          setInterval(loadLog, 1000)
          </script>
          <p>
          <button onclick="javascript:location.href='<?php echo $logbase; ?>'" class="btn pull-right"><i class="glyphicon glyphicon-resize-full"></i></button>
          <pre id="log" style="height: 500px; width: 725px;">
          </pre>
          <br>
          When finished you can download it <a href="
             <?php if($mega) echo('https://dl.sanemind.de/">here');
                   else echo ('https://mega.nz">at MEGA');?>
          </a>.
          </p>
          <!--Check the process here:
        <?php if (isset($otrkey)): ?>
          <a href="<?php echo $logbase; ?>">Logs</a>
        <?php else: ?>
          <a href="https://dl.sanemind.de/?dir=logs">Logs</a>(click on the arrow on the right side)<br>
        <?php endif; ?>-->

          <br>
          <h5 style="margin-bottom: 10px;">Provided information</h5>
          Video: <b><?php echo $video ?></b><br>
          Audio: <b><?php echo $audio; ?></b><br>
          Cutlist: <b><?php echo $cutlist; ?></b><br>
          Mega: <b><?php echo $mega; ?></b><br><br>
          You can start the next process directly:<br><br>
        {% else %}
          <p>Start the process here:</p>
        {% endif %}
        <form action="{% url 'downloader:add' %}" method="post" >
          {% csrf_token %}
          <label for="Video">Video:</label>
          <input type="text" name="Video" size="50" placeholder="http://"><br>
          <label for="Audio">Audio(AC3) (optional):</label>
          <input type="text" name="Audio" size="50" placeholder="http://"><br>
          <label for="Cutlist">Cutlist:</label>
          <input type="text" name="Cutlist" size="35" placeholder="http://www.cutlist.at/getfile.php?id="><br>
          <div class="checkbox">
           <label>
             <input type="checkbox" name="Mega">Upload video to MEGA<br>
           </label>
          </div>
          <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Run!</button>
        </form>
<br><br>
<div class="panel-footer">
  <p>Free space on server:
<?php
    $bytes = disk_free_space(".");
    $si_prefix = array( 'B', 'KB', 'MB', 'GB', 'TB', 'EB', 'ZB', 'YB' );
    $base = 1024;
    $class = min((int)log($bytes , $base) , count($si_prefix) - 1);
    echo sprintf('<b>%1.1f' , $bytes / pow($base,$class)) . ' ' . $si_prefix[$class] . '</b><br />';
?>
  </p>
</div>
      </div>
    </div>

  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
